<?xml version="1.0" encoding="ISO-8859-1"?>
<plugin-config>
	<depends plugin-name="com.iver.cit.gvsig"/>
	<depends plugin-name="com.iver.cit.gvsig.About"/>
	<depends plugin-name="es.udc.cartolab.gvsig.navtable"/>
	<depends plugin-name="es.icarto.gvsig.navtableforms"/>
	<depends plugin-name="es.udc.cartolab.gvsig.tools"/>
	<depends plugin-name="es.udc.cartolab.gvsig.users"/>
	<depends plugin-name="es.udc.cartolab.gvsig.elle"/>
	<libraries library-dir="lib"/>
	<resourceBundle name="text"/>
	<extensions>
		<extension class-name="es.udc.cartolab.gvsig.pmf.forms.FormsLauncherExtension" description="FORMS_PANEL" active="true">
			<tool-bar name="_pmf-tool-bar-name">
				<action-tool icon="forms-launcher-icon" tooltip="_forms-launcher-tooltip"
					action-command="FormsLauncher" position="10" />
			</tool-bar>
			<menu text="_pmf_menu_name/_forms-launcher"
				action-command="FormsLauncher" position="10"
				 /> 
		</extension>
		<extension class-name="es.udc.cartolab.gvsig.pmf.reports.ReportsExtension" description="REPORTS_PANEL" active="true">
			<tool-bar name="_pmf-tool-bar-name">
				<action-tool icon="community-reports-launcher-icon" tooltip="_community-report-launcher-tooltip"
					action-command="comunidad" position="12" />
			</tool-bar>
			<menu text="_pmf_menu_name/_reports_menu/_community-report-launcher"
				action-command="comunidad" position="12"
				 /> 
		</extension>
		<extension class-name="es.udc.cartolab.gvsig.pmf.reports.ReportsExtension" description="REPORTS_PANEL" active="true">
			<tool-bar name="_pmf-tool-bar-name">
				<action-tool icon="plot-reports-launcher-icon" tooltip="_plot-report-launcher-tooltip"
					action-command="parcela" position="14" />
			</tool-bar>
			<menu text="_pmf_menu_name/_reports_menu/_plot-report-launcher"
				action-command="parcela" position="14"
				 /> 
		</extension>
		
		<extension class-name="es.udc.cartolab.gvsig.pmf.queries.QueryExtension" description="QUERIES_PANEL" active="true">
			<tool-bar name="_pmf-tool-bar-name">
				<action-tool icon="query-launcher-icon" tooltip="_query-launcher-tooltip"
					action-command="Queries" position="16" />
			</tool-bar>
			<menu text="_pmf_menu_name/_query-report-launcher"
				action-command="Queries" position="16"
				 /> 
		</extension>

		<extension class-name="es.udc.cartolab.gvsig.pmf.importplot.ImportPlotExtension" description="REPORTS_PANEL" active="true">
			<tool-bar name="_pmf-tool-bar-name">
				<action-tool icon="import-plot-launcher-icon" tooltip="_import-plot-launcher-tooltip"
					action-command="parcela" position="17" />
			</tool-bar>
			<menu text="_pmf_menu_name/_import-plot-launcher"
				action-command="parcela" position="17"
				 />
		</extension>
	</extensions>
</plugin-config>
