<?xml version="1.0" encoding="ISO-8859-1"?>
<plugin-config>
	<depends plugin-name="com.iver.cit.gvsig"/>
	<depends plugin-name="com.iver.cit.gvsig.About"/>
	<depends plugin-name="es.udc.cartolab.gvsig.navtable"/>
	<depends plugin-name="es.udc.cartolab.gvsig.loaddata"/>
	<depends plugin-name="es.udc.cartolab.gvsig.tools"/>
	<libraries library-dir="lib"/>
	<resourceBundle name="text"/>
	<extensions>
		<extension class-name="es.udc.cartolab.gvsig.pmf.forms.FormsLauncherExtension" description="FORMS_PANEL" active="true">
			<tool-bar name="_tool-bar-name">
				<action-tool icon="forms-launcher-icon" tooltip="_forms-launcher-tooltip"
					action-command="FormsLauncher" />
			</tool-bar>
			<menu text="_menu_name/_forms-launcher"
				action-command="FormsLauncher"
				 /> 
		</extension>
		
		
	</extensions>
</plugin-config>
